@font-face {
	font-family: "Belbo-Book";
	font-weight: 500;
	font-style: normal;
	src: url("assets/fonts/Belbo-Regular.woff") format("woff");
}
@font-face {
	font-family: "Belbo-Book";
	font-weight: 600;
	font-style: normal;
	src: url("assets/fonts/Belbo-Book.woff") format("woff");
}
@font-face {
	font-family: "Belbo-Book";
	font-weight: 700;
	font-style: normal;
	src: url("assets/fonts/Belbo-Medium.woff") format("woff");
}

@font-face {
	font-family: "TiemposHeadline";
	font-weight: 500;
	font-style: normal;
	src: url("assets/fonts/TiemposHeadline-Regular.otf") format("opentype");
}
@font-face {
	font-family: "TiemposHeadline";
	font-weight: 600;
	font-style: normal;
	src: url("assets/fonts/TiemposHeadline-Medium.otf") format("opentype");
}
@font-face {
	font-family: "TiemposHeadline";
	font-weight: 700;
	font-style: normal;
	src: url("assets/fonts/TiemposHeadline-Bold.otf") format("opentype");
}